<!DOCTYPE html>
<html lang="en" >
    <meta charset="UTF-8">
    <title>Dynamic Forms</title>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> -->
    <script src="js/app.js"></script>
    <script src="js/controllers/myform_controller.js"></script>
    <script src="js/directives/myform_directive.js"></script>
    <script src="js/directives/myselect_directive.js"></script>
    <script src="js/directives/myfileselect_directive.js"></script>
</head>
<body ng-app="dynamicFormsApp" ng-controller="ctrl as c">
    <div> Using the directive </div>
    <my-form type="text"></my-form>
    <my-form type="select"></my-form>
    <my-form type="file"></my-form>
    <my-form></my-form> <!-- I ain't go no type -->

    <div> Using the JSON AND directa-ma-tives ANNNNNNDDDD ng-repeat</div>
    <my-form ng-repeat="formType in c.types" type="{{formType.type}}"></my-form>

    <!-- Using ng-if to create the elements -->
    <!-- <div ng-if="c.type === 'text'">
        <my-form></my-form>
    </div>
    <div ng-if="c.type === 'select'">
        <my-select></my-select>
    </div>
    <div ng-if="c.type === 'file'">
        <my-file-select></my-file-select>
    </div> -->

</body>
</html>